#customerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.textField {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  max-width: 300px;
}
