#bookingContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.react-calendar {
  padding: 15px;
  border-radius: 20px;
  border: none;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 0.3);
}

.react-calendar__tile--active {
  border-radius: 20px;
}

.react-calendar button:enabled:hover {
  border-radius: 20px;
}

.react-calendar__tile--now {
  background-color: white;
  color: black;
}

.react-calendar__tile--now:enabled:hover {
  background-color: #e6e6e6;
  color: black;
}
