.avatarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.memberButton {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
