#loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px;
    height: 500px;
}

#loginCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
